<div class="card">
    <div class="card-header">
        <h3>Comments</h3>
    </div>
      {{#each this}}
    <div class="card-body comment bg-dark">
        <ul class="list-group">
            <li class="list-group-item">
                                <div class="row meta">
                                    <div class="col-md-12">
                                        <p>{{comment_text}} <br />
                                        <small class="text-muted">
                                        Posted by {{user.username}} on {{format_date created_at}}
                                        </small></p>
                                    </div>
                                </div>
                            </div>
            </li>
              {{/each}}
              </div>
          