  <h2 class="text-center mb-2">Comments</h2>
  <div class="card mx-auto my-2 text-black bg-secondary">

  <div class="card-body">

  {{#each this}}
    <section class="comment">
      <div class="meta card m-4 text-white">
            <p class="card-title bg-dark text-white p-2">
          {{user.username}} on {{format_date created_at}}
          </p>
        <div class="text card-text p-2 text-dark">
          {{comment_text}}
        </div>
      </div>
    </section>
  {{/each}}
</div>