<div class="card border border-dark">
  <div class="card-header">
    <h3>
      <i class="fa-solid fa-comment-dots"></i> Comments
    </h3>
  </div>
  {{#each this}}
    <div class="card-body bg-secondary comment">
      <div class="row meta">
        <div class="card-body bg-light mt-2 mx-2 border border-dark">
          <p>
            {{comment_text}}
            <p class="card-footer border border-dark">
            <small class="text-muted">
              comment from {{user.username}} on {{format_date created_at}}
            </small>
          </p>
        </div>
      </div>
    </div>
  {{/each}}
</div>