<section>
  <h2>Create New Post</h2>

  <form class="new-post-form">
    <div>
      <label for="post-title">Title</label>
      <input class="form-control" style="min-width: 100%" type="text" id="post-title" name="post-title" />
    </div>
    <div class="new-blog">
      <label for="post-text">Enter your blog post here:</label>
      <textarea class="form-control" style="min-width: 100%" id="post-text" name="post-text" /></textarea>
    </div>
    <button type="submit" class="btn btn-dark m-3">Create <i class="fa-solid fa-plus"></i></button>
  </form>
</section>

{{#if posts.length}}
<section>
  <h2 class="m-3">Your Posts</h2>
  {{!-- <ul> --}}
    {{#each posts as |post|}}
    {{!-- <li> --}}
      {{> post-info post}}
      <div class="card-link">
      <button class="btn btn-outline-danger"><a href="/dashboard/edit/{{post.id}}" class="edit-link link-danger text-danger">Edit post</a></button>
      </div>
    {{!-- </li> --}}
    {{/each}}
  {{!-- </ul> --}}
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>