<section>
  <h2>Create New Post</h2>

  <form class="new-post-form">
    <div>
      <label for="post-title">Title</label>
      <input class="form-control" style="min-width: 100%" type="text" id="post-title" name="post-title" />
    </div>
    <div class="new-blog">
      <label for="post-text">Enter your blog post here:</label>
      <textarea class="form-control" style="min-width: 100%" id="post-text" name="post-text" /></textarea>
    </div>
    <button type="submit" class="btn btn-dark">Create</button>
  </form>
</section>

{{#if posts.length}}
<section>
  <h2>Your Posts</h2>
  <ul>
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
      <br>
      <br>
      <div class="card-link">
      <a href="/dashboard/edit/{{post.id}}" class="edit-link link-secondary">Edit post</a> 
      </div>
    </li>
    {{/each}}
  </ul>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>