<section>
  <h2>Create New Post</h2>
  <form class="new-post-form">
    <div>
      <label for="post-title">Title</label>
      <input class="form-control" style="min-width: 100%" type="text" id="post-title" name="post-title" />
    </div>
    <div class="new-blog">
      <label for="post-text">Enter your blog post here:</label>
      <textarea class="form-control" style="min-width: 100%" id="post-text" name="post-text" /></textarea>
    </div>
    <div class="text-center justify-content-center">
    <button type="submit" class="btn styled-btn btn-dark my-3">Create <i class="fa-solid fa-plus"></i></button></div>
  </form>
</section>

{{#if posts.length}}
  <hr class="bg-dark">
<section>
  <h2 class="m-3">Your Posts</h2>
    {{#each posts as |post|}}
      {{> post-info post}}
      <div class="card-link">
            <div class="text-center justify-content-center">
      <button class="btn styled-btn btn-outline-danger"><a href="/dashboard/edit/{{post.id}}" class="edit-link link-danger text-danger">Edit post <i class="fa-solid fa-pen-to-square"></i></a></button></div>
      </div>
    {{/each}}
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>