{{> post-info post}}

{{#if loggedIn}}
<form class="comment-form">
  <div>
    <textarea placeholder="Enter your comment here" class="form-control" style="min-width: 100%" name="comment-body"></textarea>
  </div>

  <div class="text-center justify-content-center">
    <button type="submit" class="btn styled-btn btn-dark my-3">add comment <i class="fa-solid fa-plus"></i></button>
  </div>
</form>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}