* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Saira', sans-serif;

}

body, html {
  width: 100vw;
  min-height: 100vh;
  background-color: black;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  transition: color .1s;
}
.navbar a .btn {
  display: inline-flex;
}

a:hover {
  color: grey;
  text-decoration: none;
}
a:active {
  color: grey;
  text-decoration: none;
}

ul {
  list-style: none;
}
.styled-btn {
  width: 350px;
}
.post-list {
  margin: 0;
  padding: 0;
}

textarea, input {
  padding: .5%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

textarea:focus, input:focus {
  outline: none;
  border: 1px solid black;
}
main {
  flex: 1;
  padding: 2% 4%;
}

footer {
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: center;
  padding: 1%;
  font-size: 110%;
}
.typewriter h2 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid black; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .10em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret 1.5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: black; }
}